hr {
  background-color: #57837B;  
  display: inline-block;
  width: 20%;
  margin: 40px;
}

body {
    background-color: #F1ECC3;
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}

h3 {
    color: #57837B;
    font-family: 'Gluten', cursive;
    font-weight: 500;
}

h1 {
    color: #57837B;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
}

.welcome {
    background-image: linear-gradient(#2c3e50,#3498db);
    text-align: center;
    padding-top: 100px;
    line-height: 2;
}

.mountain {
    display: block;
    margin: auto;
    width: 100%;
}

.cloud {
    position: absolute;
    
}

.cld1 {
    width: 25%;
    top: 100px;
    left: 10px;
}

.cld2 {
    right: 30px;
    width: 20%;
    top: 20px;
}

.welcome h1 {
    color: white;
    margin: 0px;
    position: relative;
}


.welcome p {
    margin: 0px;
    color: grey;
    font-size: 1em;
    font-weight: 900;
}

.Skills {
    text-align: center;
}

.Skills p {
    margin: 0px;
}

.Skills h1 {
    font-size: 2em;
}

.skills-profile {
    width: 150px;
}

.skill-img-0 {
    width: 150px;  
    float: left;
    background-color: aqua;
    border-radius: 100%;
    margin-right: 20px;
}

.skill-img-1 {
    width: 150px;
    float: right;
    margin-left: 15px;
    background-color: cadetblue;
    border-radius: 100%;
    padding: 5px;
}

.skill-row {
    display: block;
    width: 60%;
    margin: 0px auto 100px auto;
}

.skill-row h3, .skill-row p {
    text-align: left;
}